.header{background-color: lightsteelblue;
        text-align: center;
        padding: 20px;
}
/*The navigation bar*/
ul{
    list-style-type: none;
    margin:0ch;
    padding:0ch;
    overflow: hidden;
    background-color:lightblue;
   }
   
   li {
       float: left;
   }
   
   a{
      display: block;
      padding: 8px;
      background-color:lightpink
   }
   
   ul{
       background-color: lightslategrey;
   }
   
   ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: lightsteelblue;
   }
    li{
        float: left;
    }
   
   li a{
       display: block;
      color: white;
   text-align: center;
   padding: 14px  160x;
   text-decoration: none;
   }
   .active{
       background-color: violet;
   }
   
   /*Add a grey right border to all list items, except the last item (:last-child)*/
   li{
   border-right: 1px solid #bbb;
   }
   li: :last-child{
       border-right:none;
   }
   
   

body{
    background-color: lightsteelblue
}




       

ul{
    list-style-type: none;
    margin: 23px;ch;
    padding: 23px;ch;
    overflow: hidden;
    background-color:rgb(161, 212, 230);
   }
   
   li {
       float: left;
   }
   
   a{
      display: block;
      padding: 8px;
      background-color:lightpink
   }
   
   ul{
       background-color: lightslategrey;
   }
   
   ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: lightsteelblue;
   }
    li{
        float: left;
    }
   
   li a{
       display: block;
      color: white;
   text-align: center;
   padding: 14px  160x;
   text-decoration: none;
   }
   body{
       background-color:lightgrey;
   }
   
   /*Add a grey right border to all list items, except the last item (:last-child)*/
   li{
   border-right: 1px solid #bbb;
   }
   li: :last-child{
       border-right:none;
   }
   
   
h1{
    color: palevioletred;
    background-color: rgb(185, 182, 183);
}

body{
    color:rgb(78, 0, 78);
}
h3{
    color: white;
}




























